In [1]:
import pandas as pd
import numpy as np 

print(pd.__version__)
print(np.__version__)

2.2.2
1.26.4

In [2]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)),
                  columns=cols)
df

    A   B   C   D   E
0   1   9   5  18  10
1   1   1  18   4  18
2   6   4   8  14   8
3  17  11  14  17   2
4  18  11  15   8   9
5   2   3   5  18   9
6  12  18  18  15   9
7   2   9  10  18  15
8  13  17  16   2  18
9  12  19   4  11  13

In [3]:
df.shape

(10, 5)

In [4]:
proporsi = 0.7
df_1 = df.sample(frac=proporsi)
df_2 = df.drop(df_1.index)

print(f'df_1 shape: {df_1.shape}')
print(f'df_1 shape: {df_1.shape}')

df_1 shape: (7, 5)
df_1 shape: (7, 5)

In [5]:
df_1

    A   B   C   D   E
1   1   1  18   4  18
2   6   4   8  14   8
7   2   9  10  18  15
3  17  11  14  17   2
9  12  19   4  11  13
8  13  17  16   2  18
6  12  18  18  15   9

In [6]:
df_2

    A   B   C   D   E
0   1   9   5  18  10
4  18  11  15   8   9
5   2   3   5  18   9